<section class="event">

    <h1>Events</h1>
    <div class="hero un">
        <ul>
            <li>
                <a href="http://www.meetup.com/londonweb/events/91770942/" class="whole-button config-2">
                    <p>London Web<span>20th June 2013</span></p>
                </a>
            </li>
            <li>
                <a href="http://www.andismith.com/contact/" class="whole-button config-2">
                    <p>I'd love to talk<br/>at your event!<span class="cta">Contact me!</span></p>
                </a>
            </li>
        </ul>
    </div>

</section>