$_primary-color: #535a6c;

$background: #fafafa;
$backgroundRgba: rgba(250,250,250,0.99);
$heading-color: $_primary-color;
$text-color: #333;
$link-color: $_primary-color;
$link-on-color: #4a6ec9;
$line-color: #ededed;

$post-info-background: #ededed;
$post-icon-hover: #ededed;

$code-background: #fff;
$code-color: #535a6c;

$meta-text-color: #6d7589;
$meta-icon-color: #535a6c;

$favorite-on-color: #c24b4d;

$line-light-color: #ededed;
$line-dark-color: #b4bac9;
$line-highlight-color: #fff;

$link-reverse-color: #fff;

$link-on-fav-color: #c94a4a;

$hover-border-highlight-color: #bbb;
$hover-highlight-color: rgba(255,255,255,.3);